<div class="breadcrumb">
	<div class="media__object nav-icon"></div>
	<div class="media__body"> 
	  	{{#link-to 'home.overview.all' class="breadcrumb-link"}}
	      {{t "pages.index.header.home" }}
	    {{/link-to}}
	    > {{t page}}
	</div>      	
</div>
