.footer { 
  background: $maincolor; 
}


@include breakpoint($tablet) {
  .footer-helper {
    height: 200px;
    margin-top: $maximal-spacing;
  }
  .footer { 
    bottom: 0;
    height: 200px;
    position: absolute;
    width: 100%;
  }

}


.footer-list__group {  
  float: none;
  overflow: hidden;
  padding: $base-spacing 0; 
  width: 100%;
  
  @include breakpoint($tablet) {
    @include span(3);
  }
}

.footer-list__col { 
  @include span(6 of 12);
}

.footer-list__link {
  padding: $minimal-spacing 0;
}


.footer-icon {
  height: 25px;
  margin: $minimal-spacing;
  width: 25px;

  &:first-of-type { margin-left: 0; }
}

@include breakpoint($tablet) {
  .footer-list__group--text-right { text-align: right; }
  .powerd-by {
    display: inline-block;
    margin-right: $base-spacing;
    vertical-align: top;
  }
}


.partner-logo { max-width: 95%; }


