.header {
  margin-bottom: $maximal-spacing;
}

.waya-logo { 
  background: url('/assets/images/waya_logo.png') no-repeat; 
  background-size: contain;
  height: 25px;
  width: 125px;
  
  @include breakpoint($tablet) {
    float: left; 
    height: 36px;
    width: 180px;
  }
}

.settings-box { 
  clear: both; 
  padding: $double-base-spacing 0; 
}

.language-picker {
  margin: $base-spacing;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;

  @include breakpoint($tablet) {
    width: 150px;
  }

}

.language-picker__label { 
  display: none; 
  @include breakpoint($tablet) {
    display: inline-block;
  }
} 

