.header {
  margin-bottom: $maximal-spacing;
  padding: 0;
  position: relative;
  & > .wrapper { margin-top: 10px; }
}

.waya-logo { 
  background: url('/assets/images/waya_logo.png') no-repeat; 
  background-size: contain;
  height: 40px;
  width: 150px;
  
  @include breakpoint($tablet) {
    float: left; 
    height: 50px;
    width: 180px;
  }
}

.settings-box {
  background-color: $lightgray;
  clear: both;
  padding: 0;
  width: 100%;
}

.language-picker {
  margin: $base-spacing;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;

  @include breakpoint($tablet) {
    width: 150px;
  }

}

.language-picker__label { 
  display: none; 
  @include breakpoint($tablet) {
    display: inline-block;
  }
} 

