.nav {
  margin-bottom: $maximal-spacing;
  
  @include breakpoint($tablet) {
    @include span(3);
  }
}


.nav__item {
  border-bottom: 1px solid $lightgray;
  padding: $base-spacing;
  width: 100%;
}
.nav-label { padding-left: $maximal-spacing; }

.sub-nav-group {
  display: none;
  .active + & { display: block; }
}

.sub-nav {
  padding-left: $double-base-spacing;
}


.sub-nav__item {
  border-bottom: 1px solid $lightgray;
  padding: $minimal-spacing;
  width: 100%;
}
