<div class="additional-spacing-bottom text-center">
  <h2 class="h2">{{t "pages.index.headline"}}</h2>
  <h3 class="h3">{{t "pages.index.tagline"}}</h3>

  {{#link-to "home.overview" class="bttn bttn-action" tagName="button"}}
    {{t "pages.index.buttons.start"}}
  {{/link-to}}
</div>

{{outlet}}
