{{partial 'navigation'}}

{{#if currentLocation}}
  {{wy-map location=currentLocation points=points}}
{{else}}
  <p class="text-subtle text-additional-info text-no-margin text-center">Loading map...</p>
{{/if}}


<div class="poi-information">
  <div class="poi-information__main col">
   
    <div class="poi-information__description">
      <h3 class="h3 text-no-margin text-bold">###TODO### Emergency Shelter</h3>
      <h4 class="h4">Name XY</h4>
    </div>
    
    <div class="poi-information__description">
      <p class="text-no-margin">63 Boulevard Victor Hugo</p>
      <p class="text-no-margin">922000 Neuilly-sur-Seine, France</p>
      <p class="text-no-margin">+33 1 34 556 56</p>
      <p class="text-no-margin">www.xy-hospital.org</p>
    </div>

  </div>

  <div class="poi-information__specification col">
    <ul>
      <li class="dotted-list">Woman</li>
      <li class="dotted-list">Family</li>
      <li class="dotted-list">Handicap</li>
    </ul>
  </div>
</div>
