{{page-navigation page='pages.index.projects.name'}}

<div class="additional-spacing-bottom text-center">
  <h2 class="h2">{{t "pages.index.projects.name"}}</h2>
</div>
<div>
	{{t "pages.index.projects.content"}}
</div>

{{outlet}}
