.group:before, %group:before, 
.group:after, %group:after {
  content: '';
  display: table;
}

.group:after, %group:after {
  clear: both;
}

.group, %group {
  *zoom: 1;
  clear: both;
  overflow: hidden;
  position: relative;
}

.group__align-right { float: right; }
.group__align-left { float: left; }


.col:last-of-type { @include omega(); }

.additional-spacing-bottom { margin-bottom: $maximal-spacing; }
