%pull-left, .pull-left { 
  float: left; 
}
%pull-right, .pull-right { 
  float: right; 
}

.group:before, %group:before, 
.group:after, %group:after {
  content: '';
  display: table;
}

.group:after, %group:after {
  clear: both;
}

.group, %group {
  *zoom: 1;
  clear: both;
  position: relative;
}

.is-hidden { display: none !important; }

@include breakpoint($mobile) {
  .is-hidden-mobile { display: none !important; }
  .is-hidden-desktop { display: block !important; }
}

@include breakpoint($tablet) {
  .is-hidden-desktop { display: none !important; }
}


.col:last-of-type { @include omega(); }



.additional-spacing-bottom { margin-bottom: $maximal-spacing; }
