html { 
  min-height: 100%; 
  position: relative; 
}

.wrapper {
  @extend %group;
  padding: $base-spacing; 
  @include breakpoint($desktop) {
    @include container(90%);
    max-width: $max-layout-width;
    position: relative;
  }
}

@include breakpoint($tablet) {
  .small-wrapper {
    margin: 0 auto;
    width: 40%;
  }
}

.group { overflow: hidden; }
.group__align-right { float: right; }
.group__align-left { float: left; }




