.wrapper {
  padding: $base-spacing; 
  @include breakpoint($desktop) {
    @include container(90%);
    max-width: $max-layout-width;
    position: relative;
  }
}

@include breakpoint($tablet) {
  .small-wrapper {
    margin: 0 auto;
    width: 40%;
  }
}



