.ember-power-select:not([dir=rtl]) .ember-power-select-trigger {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  outline: 0;
}

.ember-power-select-option:not(.nested) {
  padding-top: 5px;
  padding-bottom: 5px;
}

