@include border-box-sizing;

$susy: (
  columns: 12,
  gutters: .25,
  math: fluid,
);


// Breakpoints
$mobile-small: 450px;
$mobile: max-width 879px;
$tablet: 880px; 
$desktop: 1000px; 
$max-layout-width: 1200px;


// Colors
$black: #333;
$white: #fff;


$maincolor: #2f757d;
$maincolor_highlight: tint($maincolor, 15%);
$secondcolor: #fd7f04;
$secondcolor_highlight: tint($secondcolor, 15%);


$base-text-color: $black;

$linkcolor: $secondcolor;
$linkcolor_hover: tint($linkcolor, 15%);


$red: #df1c1b;








$gray: #333;
$lightgray: #e1e5e8;


// Border radius
$border-radius-default: 6px;

// Browser support 
$ie7: false;
$ie8: false;


// Typography
// When using baseFontSize variable, must use it with font-size mixin
$base-font-size: 14px;
$base-font-family: "Source Sans Pro Regular", Helvetica, Arial, "Trebuchet MS", sans-serif;
$base-line-height: 1.5;
$maximal-spacing: $base-line-height/1.25+em;
$minimal-spacing: $base-line-height/3+em;
$base-spacing: $base-line-height/2+em;
$double-base-spacing: $base-line-height+em;




// Icons
$base-icon-size: 20px;
$icon-size-mini: $base-icon-size*.5;
$icon-size-small: $base-icon-size*.75;
$icon-size-medium: $base-icon-size;
$icon-size-large: $base-icon-size*1.5;
$icon-size-xlarge: $base-icon-size*2;


//ember-power-select
$ember-power-select-border-color: #2f757d;
$ember-power-select-background-color: #2f757d;
$ember-power-select-text-color: white;
$ember-power-select-default-border-radius: 0px;
$ember-power-select-option-padding: 10px;
$ember-power-select-trigger-icon-color: white;
$ember-power-select-selected-background: #2f757d;
$ember-power-select-highlighted-background: $secondcolor;
