%base-margin-baselines {
  margin-bottom: $base-spacing;
  margin-top: $base-spacing;
}

%base-padding {
  padding: $base-spacing;
}

%base-padding-baselines {
  padding-bottom: $base-spacing;
  padding-top: $base-spacing;
}