<div class="header">
  {{wy-settings-box currentCity=selectedCity.name currentCountry=selectedCountry.name currentUserStatus=selectedUserStatus.name}}
  <div class="wrapper">
      <div class="waya-logo"></div>


      <div class="language-picker">
        {{#power-select options=languages searchEnabled=false selected=selectedLanguage onchange=(action "languageChanged") as |language|}}
          {{world-flag language.flag 16}} <label class="language-picker__label">{{t language.name }}</label>
        {{/power-select}}
      </div>

    </div>
</div>
