<ul class="nav">
  {{#each mainCategories as |category|}}
    <li class="media-table nav__item">
        
      <div class="media__object icon nav-icon nav-icon-{{category.name}}"></div>
      <div class="media__body nav-label"> 
        {{category.name}}
      </div>
    </li>
    <li>
      <ul class="sub-nav">
        {{#each category.childTags as |subCategory|}}
          <li class="sub-nav__item">
              {{subCategory.name}}          
         </li>
        {{/each}}
      </ul>
    </li>
  {{/each}}
</ul>
