<div class="header">
  <div class="wrapper">
    <div class="waya-logo"></div>
    <div class="settings-box"><p>Information for asylum seekers in Paris, France</p>
      <a href="#">Click to change this settings</a></div>
    
    
    <div class="language-picker">
      <div class="language-picker-label">Change language</div>
      {{#power-select options=languages searchEnabled=false selected=selectedLanguage onchange=(action "languageChanged") as |language|}}
        {{world-flag language.iso 16}} <strong>{{language.name}}</strong>
      {{/power-select}}
    </div>
  </div>
</div>

<div class="wrapper">
  {{outlet}}
</div>

<div class="footer group">
  <div class="wrapper footer-list">
    <div class="footer-list__group col">
      <h3 class="h3 text-white">WAYA</h3>
      <div class="footer-list__col col">
        <a link="#" class="text-block text-white">About WAYA</a>
        <a link="#" class="text-block text-white">Our projects</a>
        <a link="#" class="text-block text-white">Values</a>
      </div>
    
      <div class="footer-list__col col">
        <a link="#" class="text-block text-white">Team</a>
        <a link="#" class="text-block text-white">Participate</a>
        <a link="#" class="text-block text-white">Contact</a>
      </div>
    </div>

    <div class="footer-list__group col">
      <h3 class="h3 text-white">Partners</h3>
      <div class="footer-list__col col">
        <a link="#" class="text-block text-white">Runtastic GmbH</a>
        <a link="#" class="text-block text-white">Noosfeer</a>
      </div>
      <div class="footer-list__col col">
        <a link="#" class="text-block text-white">Bienvenu</a>
        <a link="#" class="text-block text-white">OpenStreetMap</a>
      </div>
    </div>

    <div class="footer-list__group col">
      <h3 class="h3 text-white">Follow Us</h3>

      <a link="#" class="text-inline footer-icon icon icon-facebook"></a>
      <a link="#" class="text-inline footer-icon icon icon-twitter"></a>
      <a link="#" class="text-inline footer-icon icon icon-instagram"></a>
      <a link="#" class="text-inline footer-icon icon icon-youtube"></a>
    </div>

  </div>

</div>

