<div class="header">
  <div class="language-picker">
    <div class="language-picker-label">Change language</div>
    {{#power-select options=languages searchEnabled=false selected=selectedLanguage onchange=(action "languageChanged") as |language|}}
      {{world-flag language.iso 16}} <strong>{{language.name}}</strong>
    {{/power-select}}
  </div>
</div>

<div class="wrapper">
  {{outlet}}
</div>

<div class="footer">
  <div class="footer-list">
    <div class="footer-list__group group">
      <h4 class="h4 text-white">Partners</h4>
      <div class="footer-list__col">
        <a link="#" class="text-white">About WAYA</a>
        <a link="#" class="text-white">Our projects</a>
        <a link="#" class="text-white">Values</a>
      </div>
    
      <div class="footer-list__col">
        <a link="#" class="text-white">Team</a>
        <a link="#" class="text-white">Participate</a>
        <a link="#" class="text-white">Contact</a>
      </div>
    </div>

    <div class="footer-list__group">
      <h4 class="h4 text-white">Partners</h4>
      <div class="footer-list__col">
        <a link="#" class="text-white">Runtastic GmbH</a>
        <a link="#" class="text-white">Noosfeer</a>
      </div>
      <div class="footer-list__col">
        <a link="#" class="text-white">Bienvenu</a>
        <a link="#" class="text-white">OpenStreetMap</a>
      </div>
    </div>

    <div class="footer-list__group">
      <h4 class="h4 text-white">Follow Us</h4>

      <a link="#" class="icon icon-facebook"></a>
      <a link="#" class="icon icon-twitter"></a>
      <a link="#" class="icon icon-instagram"></a>
      <a link="#" class="icon icon-youtube"></a>
    </div>

  </div>

</div>

