<h2>Onboarding</h2>

<form {{action "updateUser" on="submit"}}>

    {{#power-select options=countries onchange=(action "onCountrySelected") as |country|}}
      {{country}}
    {{/power-select}}


</form>
